<h1>Showing word</h1>
<h5>Content: <%= @word.content %></h5>
<h5>Category_id: <%= @word.category_id %>
<h5>Created_at: <%= @word.created_at %></h5>
<h5>Updated_at: <%= @word.updated_at %></h5>
<p class="btn btn-success"><%= link_to 'Back', admin_words_path %></p>
</div>