<div class="admin-content">
<h1>Showing User</h1>
<hr/>
<h5>Name: <%= @user.name %></h5>
<h5>Email: <%= @user.email %></h5>
<h5>Created at: <%= @user.created_at %></h5>
<h5>Updated at: <%= @user.updated_at %></h5>
<h5>Level: </h5>
<p class="btn btn-success"><%= link_to 'Back', admin_users_path %></p>
</div>